.posts{
    background:  #a7d6aa;
    width: 90%;
    min-height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px !important;
}
.post{
    padding: 5px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid #aaa;
    width: 94%;
    margin: auto;
}
.anticon-spin{
    color: #fff !important
}
.pimg{
    width: 100%;
    display: inline-block;
    height: 100px;
    margin-top: 30px;
    text-align: center;
}
.desc{
    display: inline-block;
    width: 100%;
    padding: 30px;
    padding-left: 0px;
}
.thelabel{
    margin-bottom: 0px;
    color: #000;
    font-weight: 600;
}
.thedata{
    margin-bottom: 0px;
    color: #000;
    font-weight: 300;
}
.homeTitle{
    text-align: center !important;
    color: #000 !important;
    font-size: 30px !important;
    margin-top: 20px !important;
}