.loginBack{
    background-image: url(https://image.shutterstock.com/image-vector/doodle-design-style-illustration-giving-600w-381752293.jpg);
background-size: cover;
background-repeat: no-repeat
}
.loginn{
    margin: auto;
    width: 430px;
    height: 400px;
    padding: 20px;
    padding-top: 100px !important;
    text-align: center;
    margin-bottom: 50px;
}
.loginn input{
    background: #fff !important;
    padding: 4px 11px !important;
    border: 1px solid #78849e !important;
    margin: 0 0 0px 0 !important;
    border-radius: 7px !important;
    height: 2.4rem !important;
    width: 93% !important;
}
.loginn input:focus{
    border: 1px solid #3497fd !important;
    border-bottom: 0px solid #3497fd !important;
}
.loginn .ant-input-suffix {
    right: 20px;
    top: 50%; 
}
.loginn .loginnBtn{
    color: white;
    background-color: #187336;
    width: 180px;
    height: 45px;
    margin-bottom: 40px;
}
.loginn h5{
    color: #78849e;
    font-weight: 300;
    margin-bottom: 20px;
}
.loginn a{
    color:#000;
    font-weight: 400;
}
.loginn hr {
    margin-top: .6rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #3497fd;
    width: 52%;
}

.anticon-eye-invisible{
    font-size: 16px !important;
    padding: 0 !important;
}
