
.loginn{
    margin: auto;
    width: 430px;
    height: 550px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}
.loginn input .loginn textarea{
    background: #fff !important;
    padding: 4px 11px !important;
    border: 1px solid #78849e !important;
    margin: 0 0 0px 0 !important;
    border-radius: 7px !important;
    height: 2.4rem !important;
    width: 93% !important;
}
.loginn textarea{
    background: #fff !important;
    padding: 4px 11px !important;
    border: 1px solid #78849e !important;
    margin: 0 0 0px 0 !important;
    border-radius: 7px !important;
    cursor: pointer;
    
}
.loginn input:focus{
    border: 1px solid #3497fd !important;
    border-bottom: 0px solid #3497fd !important;
}
.loginn input:hover, .loginn textarea:hover{
    border: 1px solid #3497fd !important;
    border-bottom: 1px solid #3497fd !important;
}
.loginn .ant-input-suffix {
    right: 20px;
    top: 50%;
}
.loginn .loginnBtn{
    color: white;
    background-color: #187336;
    width: 180px;
    height: 45px;
    margin-bottom: 40px;
}
.loginn .prevBtn{
    
    width: 180px;
    height: 45px;
    margin-bottom: 40px;
}
.loginn h5{
    color: #78849e;
    font-weight: 300;
    margin-bottom: 20px;
}
.loginn a{
    color:#000;
    font-weight: 400;
}
.loginn hr {
    margin-top: .6rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #3497fd;
    width: 52%;
}
.ant-steps-item-icon {
    width: 20px  !important;
    height: 20px !important;
    font-size: 14px !important;
    line-height: 30px !important;
}
.ant-steps-item-icon > .ant-steps-icon {
    top: -7px !important;
}
.ant-steps-item-title {
   
    font-size: 14px !important;
    line-height: 22px !important;
}
.ant-select-selection--single { 
    margin: 0 0 0px 0 !important;
    border-radius: 7px !important;
    height: 2.8rem !important;
}
.ant-select-selection__placeholder{
    margin-top: -5px !important;
    color :#78849e;
  }
.ant-select-selection--single{
    border: 1px solid #78849e !important;
    border-radius: 7px !important;
}
.loginn .ant-select-selection--single:focus{
    border: 1px solid #3497fd !important;
    border-bottom: 0px solid #3497fd !important;
}
.loginn .ant-select-selection--single:hover{
    border: 1px solid #3497fd !important;
    border-bottom: 1px solid #3497fd !important;
}
.signUpIcon{
    margin-bottom: 50px;
}

.leftIcon{
    border-radius: 50%;
    border: 1px solid #21d366;
    display: inline-block;
    width: 22px;
    height: 22px;
    color: #fff;
    background: #21d366;
    text-align: center;
    font-size: 13px;
    margin: 0px;
    cursor: pointer;
    font-weight: 500;
}
.rightIcon2{
    border-radius: 50%;
    border: 1px solid #3497fd;
    display: inline-block;
    width: 22px;
    height: 22px;
    color: #fff;
    background: #3497fd;
    text-align: center;
    font-size: 13px;
    margin: 0px;
    cursor: pointer;
    font-weight: 500;
}
.iconHr2{
    display: inline-block !important;
    width: 45% !important;
    margin: 0px !important;
    border-top: 1.5px solid  #21d366;
    height: 2px !important;
    padding: 0px !important;
}
.loginBack3{
    background-image: url(https://image.shutterstock.com/image-vector/doodle-design-style-illustration-giving-600w-381752293.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 800px;
}
.leftTitle{
    font-weight: 400;
    color:  #21d366;
    margin-right: 3.5rem;
}
.rightTitle2{
    font-weight: 400;
    color: #3497fd;
   
    margin-left: 4.1rem;
}
.anticon-check{
    vertical-align: 0rem !important;
}
::-webkit-input-placeholder { /* Edge */
    color: #78849e !important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #78849e !important;
  }
  
  ::placeholder {
    color: #78849e !important;
  }